body{
    width: 90%;
    margin: 0 auto;
    background-color: #2B2D42;
    font-family: "Arial Nova", Helvetica, sans-serif;
}

div, section{
    margin-bottom: 3px;
    padding: 5px;
    background-color: darkgray;
}

h2{
    text-decoration: solid underline;
}

h1{
    text-align: center;
    background-color: darkgrey;
    text-decoration: solid underline;
    padding-bottom:50px;

}

figure{
    display: flex;
}

figure > img{
    justify-self: right;
}

img{
    display: flex;
    justify-self: right;
    flex-direction: row;
    height: 100px;
    width: 100px;
}

a:hover{
    color: violet;
}

.datagrid {
    font: normal 12px/150% Verdana, Arial, Helvetica, sans-serif;
    background: #fff;
    overflow: hidden;
    border: 1px solid #991821;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.datagrid table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}

.datagrid table td,
.datagrid table th {
    padding: 3px 10px;
}

.datagrid table thead th {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#991821', endColorstr='#80141C');
    background-color: #991821;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    border-left: 1px solid #B01C26;
}

.datagrid table thead th:first-child {
    border: none;
}

.datagrid table tbody td {
    color: #80141C;
    border-left: 1px solid #F7CDCD;
    font-size: 12px;
    font-weight: normal;
}

.datagrid table tbody .alt td {
    background: #F7CDCD;
    color: #80141C;
}

.datagrid table tbody td:first-child {
    border-left: none;
}

.datagrid table tbody tr:last-child td {
    border-bottom: none;
}

.datagrid table tfoot td div {
    border-top: 1px solid #991821;
    background: #F7CDCD;
}

.datagrid table tfoot td {
    padding: 0;
    font-size: 12px;
}

.datagrid table tfoot td div {
    padding: 2px;
}

.datagrid table tfoot td ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
}

.datagrid table tfoot li {
    display: inline;
}

.datagrid table tfoot li a {
    text-decoration: none;
    display: inline-block;
    padding: 2px 8px;
    margin: 1px;
    color: #FFFFFF;
    border: 1px solid #991821;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#991821', endColorstr='#80141C');
    background-color: #991821;
}

.datagrid table tfoot ul.active,
.datagrid table tfoot ul a:hover {
    text-decoration: none;
    border-color: #80141C;
    color: #FFFFFF;
    background: none;
    background-color: #991821;
}

.onbekend{
    background-color: darkred;
}