.container{
    background-color: cornflowerblue;
    display: grid;
    grid-template-columns:repeat(5,auto);
    grid-template-rows:repeat(5,auto);
}

.container .block{
    margin:20px;
    padding:20px;
    background-color: white;
}

.block.block1{
    grid-column-start: 1;
    grid-column-end: 2;
}
.block.block2{
    grid-column-start: 5;
    grid-column-end: 6;
}
.block.block3{
    grid-row: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}
.block.block4{
    grid-row: 2;
    grid-column-start:4 ;
    grid-column-end:5 ;
}
.block.block5{
    grid-row: 3;
    grid-column-start: 3;
    grid-column-end: 4;

}
.block.block6{
    grid-row: 4;
    grid-column-start: 2;
    grid-column-end: 3;
}
.block.block7{
    grid-row: 4;
    grid-column-start: 4;
    grid-column-end: 5;

}
.block.block8{
    grid-row: 5;
    grid-column-start: 1;
    grid-column-end: 2;
}
.block.block9{
    grid-row: 5;
    grid-column-start: 5;
    grid-column-end: 6;
}

@media screen and (max-width: 700px){

    .container{
        background-color: #80141C;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
    }
    .block.block1{
        grid-row: 1;
        grid-column-start: 1;
        grid-column-end: 2;

    }
    .block.block2{
        grid-row: 1;
        grid-column-start: 2;
        grid-column-end: 3;
    }
    .block.block3{
        grid-row: 1;
        grid-column-start: 3;
        grid-column-end: 4;
    }
    .block.block4{
        grid-row: 2;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .block.block5{
        grid-row: 2;
        grid-column-start: 2;
        grid-column-end: 3;
    }
    .block.block6{
        grid-row: 2;
        grid-column-start: 3;
        grid-column-end: 4;
    }
    .block.block7{
        grid-row: 3;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .block.block8{
        grid-row: 3;
        grid-column-start: 2;
        grid-column-end: 3;
    }
    .block.block9{
        grid-row: 3;
        grid-column-start: 3;
        grid-column-end: 4;
    }

}