/** Volgende CSS gaan we ze geven **/
.respimg {
    width: 100%;
    height: auto;
    display: block;
}

header{
    text-align: center;
    border-bottom: #ebe8e8 solid 1px;
}
header img{
    height: 50px;
}

nav{
    width: 600px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(7,auto);
    padding-top: 10px;
    padding-bottom: 10px;

}

nav a{
    text-transform: uppercase;
    font-size: 13px;
    color: #5b4746;
    padding-top: 10px;
    padding-bottom: 10px;
    /*margin-left: 15px;
    border-right: #ebe8e8 solid 1px;*/
}

nav a:after{
    content: "|";
    margin-left: 15px;
}

nav a:last-child:after{
    content: none;
}

nav a:hover{
    text-decoration: underline 2px #fff100;
}

main > h1:first-child{
    background-image: url("../images/headerimage.jpg");
    height: 500px;
    width: 100%;
    color:white;
    text-align: center;
    padding-top: 225px;
    font-size: 40px;
    text-shadow: #8D99AE 2px 2px;
}

section{
    padding-top: 50px;
    width: 600px;
    margin: 0 auto;

}

section h1{
    border-bottom: 3px solid black;
}

section >div{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    gap: 15px;
}

section div div{
    border-top: #ddd solid 1px;
    padding-top: 5px;
    margin-right: 5px;
}

section div div h3{
    text-transform: uppercase;
    font-size: 13px;
    text-space: 1px;
    color: #ff4d56
}

section div div a{
    color: black;
    text-decoration: none;
}

section div div a{
    color: #666;
    line-height: 2;
}

.auteur{
    padding-right: 10px;
    border-right: #ebe8e8 solid 1px;
    font-style: italic;
}

.date{
    color :#666;
    padding-left: 10px;

}

aside{
    width: 600px;
    margin: 0 auto;
}

aside h1{
    border-bottom: 3px solid black;
}

figure div{
    padding-bottom:25px
}

footer{
    width: 100%;
    border-top: #ebe8e8 solid 1px;
    line-height: 2em;
}


footer #left{
    padding-right: 20px;
    width: 50%;
    float: left;
    text-align: right;
}

footer #right{
    padding-left: 20px;
    width: 50%;
    float: right;
    text-align: left;
    background-color: black;
    color: white;
}

@media screen and (min-width: 770vw){
    section{
        width: 750px;
    }

    header{
        width:750px;
        font-size: 5em;
    }

    aside{
        width: 750px;
    }
}

@media screen and (min-width: 1000vw){
    section{
        width: 980px;
    }

    header{
        width: 980px;
    }

    aside{
        width: 980px;
    }
}
