body{
    width:95%;
    margin:0 auto;
    font-family:Arial,Helvetica, sans-serif;
    text-align:center;
}

header{
    text-align: center;
    height: 200px;
    background-image: url('../images/bgsky3.jpg');
    background-size: cover;
    color: darkblue;
}

header p:first-child{
    font-size: 300%;
    font-weight: bold;
    font-style: italic;
}

header p:nth-child(2){
    font-size: 240%
}

header img{
    position: absolute;
    right: 500px;
    top: 60px;
    height: 150px;
    z-index: 1;
}

aside{
    float: right;
    width: 25%;
    background-color: #dddddd;
    border: 1px #999999;
}

aside p{
    color: #666666;
    font-size: 90%;
    padding: 10px;
}

aside h3{
    color: white;
    background-color: blue;
    text-align: center;
    font-size: 120%;
}

main{
    width: 75%;
    margin-right: 10px;
}

main section p{
    background-color: white;
    color: black;
    text-align: left;
    padding: 20px 30px;
}

main section span{
    color: blue;
    font-style: italic;
    font-weight: bold;
}

main figure:first-child img{
    float: left;
    display: block;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
figure:last-child{
    background-color: #999999;
    margin: 20px;
}

figure .foto img{
    width: 180px;
    height: 180px;
    border: 1px dotted white;
    padding: 10px;
}

figure .foto{
    background-color: white;
    margin: 10px;
    display: inline-block;
}

section{
    display: flex;
}
section div{
    background-color: #666666;
    color: white;
    line-height: 2em;
    flex: 1;
}
