body{
    text-align: center;
    font-size: 18px;
}

.caption {
    font-family: helvetica;
    font-size: 16px;
    margin-top: 12px;
}

.gridHeader {
    background-color: #dcd6fe;
    padding: 12px;
}

.gridNav {
    background-color: #c6c0ff;
    padding: 12px;
}

.gridMain {
    background-color: #f9f6d2;
    padding: 12px;
}

.gridAside {
    background-color: #d4ffd1;
    padding: 12px;
}

.gridFooter {
    background-color: #ffd1d1;
    padding: 12px;
}

@media screen and (min-width: 768px) {
    .grid{
        min-height: 800px;
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: auto 1fr auto;
    }
    .gridHeader{
        grid-row:1;
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .gridNav{
        grid-row:2;
        grid-column-start: 1;
        grid-column-end: 2;
        margin-left: 20%;
    }

    .gridMain{
        grid-row:2;
    }

    .gridAside{
        grid-row:2;
        grid-column-start: 3;
        grid-column-end: 4;
        margin-right: 20%;
    }

    .gridFooter{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row:3;
    }
}