header{
    text-align: center;
}

nav ul{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}


footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer div{
    display: flex;
    align-self: end;
}